* {
	font-family: "Arial";
}

body {
	background: #000;
	background-size: cover;
	text-align: center;
}

.logo  {
	font-size: 34px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

nav a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

nav a:hover{
	text-decoration: underline;
}

h1 {
	font-size: 20px;
	background-color:#fff;
	color: #000;
	width: 400px;
	padding: 5px;
	border-left: 15px solid #000;
	border-right: 15px solid #000;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	border-radius: 30px;
	margin: 20px auto;
}

#infoMessage {
	color: #fff;
}

fieldset {
	text-align: left;
	width: 400px;
	margin: 0 auto;
}

legend {
	padding: 5px 15px;
	text-align: center;
	color: #fff;
}

label {
	color: #fff;
}

input, select {
	margin: 7px 0;
}

input[type=text]#nome,
input[type=text]#rua,
input[type=email] {
	width: 95%;
}

input[type=tel]#telefoneCelularDDD,
input[type=tel]#telefoneFixoDDD,
input[type=tel]#telefoneDDD {
	width: 30px;
}

input[type=button],
input[type=submit]{
	padding: 6px 12px;
	border: 2px solid #fff ;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background: none;
	color: #fff;
}

input[type=button]hover,
input[type=submit]hover {
	color: red;
}

table {
	background: none;
	margin: 60px auto;
	border-spacing: 2px;
	border-collapse: separate;
}

th {
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px;
	background-color: #000;
	color: #fff;
}

td {
	padding: 5px;
	color: #fff;
}

tr:nth-child(even) {
	background: #6f6f75;
}

tr:nth-child(odd) {
	background: #9c9ca2;
}
